**List Mutability**

Python mutable lists may involve various data types such as objects, integers and strings.

In [8]:
numbers = [1, 2, 3, 4, 5]
print(numbers)
#
numbers[0] = 99         #changing the value of index 0
numbers[2] = 'python'   #changing the value of index 2
numbers[4] = -46        #changing the value of index 4

print(numbers)

[1, 2, 3, 4, 5]
[99, 2, 'python', 4, -46]

**Taking a string input and converting it into a list of elements**

Note: use split() function

In [15]:
# Python program to take space
# separated input as a string
# split and store it to a list
# and print the string list

# input the list as string
string = input("Enter elements (space-separated)): ")

# split the strings and store it to a list
lst = string.split()
print('The list is:', lst)   # printing the list

Enter elements (space-separated)): Have a nice day!
The list is: ['Have', 'a', 'nice', 'day!']

**Concatenating Lists 1**

To concatenate means to join two things together. You can use the + operator to concatenate two lists.

In [17]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
list3 = list1 + list2

print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]

**Concatenating Lists 2**

In [18]:
favorite_fruits = ["Apple", "Banana", "Cherry"]
favorite_vegetables = ["Carrot", "Broccoli", "Cucumber"]

# Now let's concatenate them
favorite_foods = favorite_fruits + favorite_vegetables

print("Favorite Fruits:", favorite_fruits)
print("Favorite Vegetables:", favorite_vegetables)
print("Favorite Foods:", favorite_foods)

Favorite Fruits: ['Apple', 'Banana', 'Cherry']
Favorite Vegetables: ['Carrot', 'Broccoli', 'Cucumber']
Favorite Foods: ['Apple', 'Banana', 'Cherry', 'Carrot', 'Broccoli', 'Cucumber']

**Tuples**

1. Tuples are used to store multiple items in a single variable.

2. A tuple is a collection which is ordered and unchangeable.

3. Tuples are written with round brackets.

In [7]:
# practicing creating tuples
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(len(thistuple))   # Print the number of items in the tuple

('apple', 'banana', 'cherry')
3

**Tuple with only one item**

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [6]:
thistuple1 = ("apple",)
print(type(thistuple1))

#NOT a tuple
thistuple2 = ("apple")
print(type(thistuple2))

<class 'tuple'>
<class 'str'>

**Tuples can store various data types**

In [9]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')