**Lists**

**Creating a list**

Lists in Python can be created by just placing the sequence inside the square brackets[ ].

In [ ]:
#blank list
List = []
print("Blank List: ")
print(List)

Blank List:
[]

**Example 1:** simply understanding the concept

In [ ]:
#Simply writing a list of integer elements
# The items that are enclosed in brackets and separated by commas are the list elements.
# After this statement executes, the variable numbers will reference the list

numbers = [0, 1, 2, 3, 4]
print(numbers)

[0, 1, 2, 3, 4]

**Example 2:**

In [ ]:
numbers_list1 = list(range(5))
print('first list is',numbers_list1)

numbers_list2 = list(range(1,10,2))
print('second list is',numbers_list2)

pets = ['I', 'have', 4 , 'cats', '&', 5, 'dogs!' ]
print(pets)

first list is [0, 1, 2, 3, 4]
second list is [1, 3, 5, 7, 9]
['I', 'have', 4, 'cats', '&', 5, 'dogs!']

**Example 3.1: Repetition Operator**

 list * n
   #In the general format here list is a list and n is number of copies to make

In [ ]:
cat_sound = ['meow!'] * 5
print(cat_sound)

['meow!', 'meow!', 'meow!', 'meow!', 'meow!']

**Example 3.2:** Repetition of a list

In [ ]:
numbers = [1, 2, 3] * 3
print(numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

**Example 4: Using for loop to iterate over a list**

In [ ]:
numbers = [99, 100, 101, 102]
for n in numbers:
   print(n)

99
100
101
102

**Example 5: accessing elements from a list**

In [ ]:
# Python program to demonstrate
# accessing of element from list

# Creating a List with
# the use of multiple values
List = ["Let's", "learn", "Python!"]

# accessing a element from the
# list using index number
print("Accessing a element from the list:")
print(List[0])
print(List[2])

Accessing a element from the list:
Let's
Python!

**Example 6: Understanding Index of list**

Each element in a list has an index that specifies its position in the list.

In [ ]:
my_list = [10, 20, 30, 40]
index = 0
print(my_list[0], my_list[1], my_list[2], my_list[3])


#while index < 4:
#   print(my_list[index])
#   index += 1

10 20 30 40

**Example 7: len() Function**

In [ ]:
my_list = [10, 20, 30, 40]
size = len(my_list)
print(size)

4